# Terraform state
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Sensitive variables
.tfvars
helm-chart/values.yaml

# Local credentials and configurations
kubeconfig
.kube/
~/.kube/config

# Temporary files
*.bak
*.swp

# OS-specific files
.DS_Store
