# All
venv/
__pycache__
.env
.env.staging
.local_restart_script.sh
.dip-openapi.yaml
test_scripts/
.DS_Store
node_modules/
.vscode
.cursor
frontend/.env
frontend/.env.local
frontend/.next/
frontend/node_modules/
.pytest_cache
run_backup.sh
.idea
values.yaml
.store/

charts/
minio/
misc/

# Docker
.dockerignore

docs/

backend/logs/*
scripts/